core
*.ply
*.pdf
*pt*
*.pyc
*.sh
*.log
*.jpg
*.png
*.npz
*.npy
*.pkl
*.mp4
*.gif
*.swp
*.DS_Store*
*.obj
*.ply
*.json
*.blend
*.blend*

# Ignored datasets, runs, and weights
data/
omomo_runs/
pretrained_models/
